/* @font-face { 
    font-family: 'Pretendard'; 
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal; 
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
} */
@font-face {
    font-family: 'Pretendard';
    src: url('../assets/font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../assets/font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
/* @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
} */
@font-face {
    font-family: 'Pretendard';
    src: url('../assets/font//Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
/* @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
} */

/* --- headline --- */
.headline1{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.headline2{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}
.headline3{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}
.headline4{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.headline5{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
/* --- body --- */
.body1-bold{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.body1-medium{
    font-family: 'Pretendard'; 
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
.body1-regular{
    font-family: 'Pretendard'; 
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.body2-bold{
    font-family: 'Pretendard';
    font-weight: 700; 
    font-size: 16px;
    line-height: 24px;
}
.body2-medium{
    font-family: 'Pretendard'; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.body2-regular{
    font-family: 'Pretendard'; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.body3-bold{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.body3-medium{
    font-family: 'Pretendard'; 
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.body3-regular{
    font-family: 'Pretendard'; 
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* --- caption --- */

.caption1-bold{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.caption1-medium{
    font-family: 'Pretendard'; 
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.caption1-regular{
    font-family: 'Pretendard'; 
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.caption2-bold{
    font-family: 'Pretendard'; 
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}
.caption2-medium{
    font-family: 'Pretendard'; 
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}
.caption2-regular{
    font-family: 'Pretendard'; 
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

